# Visual Studio local workspace files
.vs/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore local configuration files
*.env

# Ignore SQL Server-related files
*.mdf
*.ldf
*.ndf


# Ignore IDE-specific files
.vscode/
.idea/

